body{
    font-family: 'Libre Baskerville', serif;

}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: -150px;

}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    text-align: center;
}