body{
    height: 100%;
    font-family: 'Libre Baskerville', serif;
    background-image: url(https://ivandlar.github.io/Web-Development/Fondos/mountains-1412683.png);
    height: 100%;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: -150px;

}
.button_{
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    text-align: center;
}

